body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #1f2937;
    margin: 0;
}
.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}
.header-link {
    display: flex;
    font-size: 24px;
    gap: 24px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.container1 {
    background-color: #1f2937;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 100px;
}
.section-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 100px;

}
.main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
}
.buttons {
    margin-right: auto;
    border-radius: 4px;
    background-color: #3882f6;
    padding: 4px 18px;
    font-size: 20px;
}
button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border: none;
}
.section-right img{
    width: 400px;
    height: 200px;
}
.title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 50px;
}
.container2 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-bottom: 80px;
}
.box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border-color: #3882f6;
    margin: 15px;
    border-style: solid;
}
.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    font-size: 16px;
    width: 150px;
    text-align: center;
}
.container3 {
    background-color: #e5e7eb;
    padding: 100px;

}
.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote {
    font-size: 24px;
    font-weight: 100;
    color: #1f2937;
    width: 500px;
}
.author {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    font-size: 24px;
    
}
.container4 {
    padding: 75px;
}
.blue-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    margin: auto;
    padding: 50px;
    width: 750px;
}
.content-left {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
}
.headline {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}
.sign-up {
    border-radius: 8px;
    border-style: solid;
    border-color: #e5e7eb;
    padding: 4px 16px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    background-color: #1f2937;
    color: #e5e7eb;
    margin: 0;
}
